<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>SUFeedURL</key>
  <string>https://raw.githubusercontent.com/Tianbaidi/Notch-Balls-Prototype/main/appcast.xml</string>
  <key>SUPublicEDKey</key>
  <string>kTUPMwtZ1O/uHrL6ucFDjJzE65uqWJIghZ9O6RECImQ=</string>
</dict></plist>
